.idea/*
day4/input
/day5/input
/day5/input2
/2016/day2/input
/2016/day2/input2
/day6/input
/day6/input2
/2016/day3/input
/day7/input
/day7/input2
/day8/input
/day8/input2
/day9/input
/day9/input2
/day10/input
/day10/input2
/2016/day4/input
/2016/day4/input2
